*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("../landingpage/images/image.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav-links{
    display: flex;
    justify-content: right;
    align-items:center;
    padding: 2% 6%;
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
/*Designing the links in NAV */
.nav-links ul li a{
    color: rgb(252, 232, 219);
    text-decoration: none;
    font-size: 15px;
}
/*underline the nav components */
.nav-links ul li::after{ 
    content: '';
    width: 0%;
    height: 1px;
    background: rgb(218, 86, 34);
    display: block;
    margin: auto;
    transition: 0.5s;
}
/*made the underline responsive*/
.nav-links ul li:hover::after{
    width: 100%;
}
/*editing hero text*/
/*header{
    display: flex;
    justify-content: space-between;
    flex: 0;
    flex-direction: column;
}


.text-box{
}*/

.text-box h1{
    font-size: 50px;
    color: rgb(252, 232, 219);

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 24px;
    color: rgb(252, 232, 219);
}
/*button arrangement */
.text-box .hero-btn{
    text-decoration: none;
    color: rgb(252, 232, 219);
    border: 1px solid rgb(252, 232, 219);
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer; 
}
.text-box .hero-btn:hover{

    background: rgb(218, 86, 34);
    transition: 1s;
}
header img{
    width: 350px;
    height: 300px;
}
#hero{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1% 20%;
    text-align: left;

}
/*responsive layout*/
@media(max-width: 700px){
    .container .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(8, 8, 66);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        justify-content: space-between;
        text-align: left;
        z-index: 2;
    }    
}