*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("../Landing-page/image/header.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav-links{
    display: flex;
    justify-content: right;
    align-items:center;
    padding: 2% 6%;
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
/*Designing the links in NAV */
.nav-links ul li a{
    color: rgb(95, 95, 255);
    text-decoration: none;
    font-size: 15px;
}
/*underline the nav components */
.nav-links ul li::after{ 
    content: '';
    width: 0%;
    height: 1px;
    background: rgb(95, 95, 255);
    display: block;
    margin: auto;
    transition: 0.5s;
}
/*made the underline responsive*/
.nav-links ul li:hover::after{
    width: 100%;
}
/*editing hero text*/
.text-box{
    width: 80%;
    color: white;
    position: absolute;
    top: 45%;
    left: 15%;
    transform: translate(-30%,-50);
    text-align: left;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 24px;
    color: aliceblue;
}
/*button arrangement*/
.hero-btn{
    text-decoration: none;
    color: white;
    border: 1px solid white;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer; 
}
.hero-btn:hover{
    border: 1px solid black;
    background: blue;
    transition: 1s;
}
@media(max-width: 700px){
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: rgb(8, 8, 66);
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        justify-content: space-between;
        text-align: left;
        z-index: 2;
    }    
}