*{
    margin: 0;
    padding: 0;
    font-family: 'Caveat', cursive;
    font-family: 'Ubuntu', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)), url("../landingpage/images/image.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.nav-links{
    display: flex;
    justify-content: right;
    align-items:center;
    padding: 2% 6%;
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;

}
/*Designing the links in NAV */
.nav-links ul li a{
    color: rgb(252, 232, 219);
    text-decoration: none;
    font-size: 15px;
}
/*underline the nav components */
.nav-links ul li::after{ 
    content: '';
    width: 0%;
    height: 1px;
    background: rgb(218, 86, 34);
    display: block;
    margin: auto;
    transition: 0.5s;
}
/*made the underline responsive*/
.nav-links ul li:hover::after{
    width: 100%;
}
/*Setting hero elements*/
header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 1% 20%;
    text-align: left;
}
header img{
    width: 350px;
    height: 300px;
}
.text-box h1{
    font-size: 50px;
    color: rgb(252, 232, 219);

}
.text-box p{
    margin: 10px 0 40px;
    font-size: 24px;
    color: rgb(252, 232, 219);
}
/*button arrangement */
.text-box .hero-btn{
    text-decoration: none;
    color: rgb(252, 232, 219);
    border: 1px solid rgb(252, 232, 219);
    padding: 12px 34px;
    font-size: 15px;
    background: transparent;
    position: relative;
    cursor: pointer; 
}
.text-box .hero-btn:hover{

    background: rgb(218, 109, 36);
    transition: 1s;
}
.portfolio{
    margin: auto;
    width: 100%;
    text-align: center;
    padding-top: 50px;
    background-color:rgb(47, 29, 63); 
    min-height: 95vh;

}
h1,h2,p,h3, h4{
    color:rgb(252, 232, 219);
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 20px;
}
.row{
    padding-top: 2%;
    margin: 0 4%;
    display: flex;
    justify-content: space-between;
}
.portfolio-col{
flex-basis: 31%;
background:rgb(63, 39, 85);
border-radius: 10px;
margin-bottom: 3%;
padding: 20px 8px;
box-sizing: border-box;
transition: 0.5s;
}
.portfolio-col img{
    width: 50%;
    height: 83%;
}
h3{
    text-align: center;
    font-weight: 600;
}
.portfolio-col:hover{
    box-shadow: 10px 10px 20px 0px rgba(0, 0, 0, 0.2);
}
.about{
    background-color:rgb(73, 50, 94); 
    min-height: 80vh;
    width: 100%;
    margin: auto;
    text-align: center;
    padding-top: 40px;
}
.about-col{
background:rgb(63, 39, 85);
border-radius: 10px;
padding: 15px 15px;
margin: 0 18%;
box-sizing: border-box;
transition: 0.5s;
}
.about h1{
    padding-bottom: 20px;
}
.about p{
    padding: 10px;
}
.about-col .col{
    background-color: rgba(101, 63, 136, 0.63);
    padding: 20px 50px;
    border-radius: 5px;
}
.about-col .col p{
    padding-bottom: 20px;
}
.about-col .col a{
text-decoration: none;
color: antiquewhite;
background: transparent;
border: 1px solid antiquewhite;
padding: 5px 8px;
border-radius: 6px;
}
.about-col .col a:hover{
    transition: 0.5s;
background-color:rgb(47, 29, 63) ;    
}
.footer{
    background-color:  rgb(218, 86, 34) ;
    margin: auto;
    padding: 3px 0;
    width: 100%;
    height: 11vh;
    text-align: center;
}
.footer p{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
}